/* CSS rules for Akkadian display
 * Copyright 2015 Ralph Giles. GPLv3.
 */

@font-face {
  /* George Douros' Akkadian font. http://users.teilar.gr/~g1951d/ */
  font-family: Akkadian;
  src: local(Akkadian),
       url(Akkadian.ttf);
}

#cuneiform {
  font-family: Akkadian, Noto;
  font-size: 64px;
}

div.space {
  margin: 64px;
}

footer {
  font-size: small;
}

footer p.link {
  margin: 0;
  color: 0x333;
}
